<section class="topo">
    <header>
    <p>Stephany Háfez</p>
    <nav>
       <ul>
           <li><a>Home</a></li>
           <li><a>Sobre</a></li>
           <li><a>Projetos</a></li>
           <li><a>Contato</a></li>
           
       </ul>
    </nav>
    <a class="botao">Contato</a>
     </header>

     <main>
         <div class="competencias">
           <p>Criativa</p>
           <div class="bolinha"></div>
           <p>Comunicativa</p>
           <div class="bolinha"> </div>
           <p>Organizada</p>
        
         </div>
            <h1>Estudante de programação</h1>
            <p>Aplicando a tecnologia em diferentes setores da indústria e compartilhando conhecimento 
            </p>
          <div class="botoes">
               <a>Meus trabalhos</a>
               <p></p>
               <a>Sobre mim</a>

          </div>



     </main>





</section>
