
<section class="fundo">
    <article><h1>Sobre mim</h1>
        <p>
            Me chamo Stephany Háfez, estou finalizando o Novo Ensino Médio.
            Já fiz alguns cursos, como:
            Matemática financeira (02/2022-07/2022)
            Empreendedorismo(08/2022-12/2022)
            Educação Tecnológica (02/2023-07/2023)
            Multiletramento(08/2023-12/2023)
            Teatro(2015-2023)
            Pretendo cursar Psicologia ou Direito
        </p>
        <p> 
            Amo livros, conhecer novas pessoas e lugares, adquirir mais comhecimento, estudar, ouvir música e ter um tempo de qualidade com a família e amigos.
            
        </p>

    </article>

    <figure>
        <img src="/assets/img/Menina lendo livro.jpg">



    </figure>
</section>